[Unit]
Description=Namespaced Samba domain controller
BindsTo=nsdc-bridge.service
Wants=nsdc-provision.service
After=nsdc-bridge.service nsdc-provision.service
JoinsNamespaceOf=nsdc-network.service
ConditionPathExists=/etc/ns-samba/smb.conf

[Service]
PrivateNetwork=yes
LimitNOFILE=16384
Type=forking
EnvironmentFile=/etc/ns-samba/nsdc.conf
ExecStart=/opt/ns-samba/bin/nsdc-run /opt/ns-samba/sbin/samba -D
